.list-one {
    border-width: 5px;
    border-style: groove;
    border-color: #1E2022;
    border-radius: 50px;
}

.list-two {
    border: 5px solid #1E2022;
    border-radius: 50px;
}

/*.table-one {
    border: 5px solid #1E2022;
    border-radius: 50px;
}*/

.container {
    padding-bottom: 20px;
}

.img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
}

.hobbi, .need {
    padding-left: 70px;
    text-decoration: underline;
}

.sport {
    margin-left: 10px;
}
ol, ul {
    padding-left: 70px;
}

table {
    padding-left: 10px;
}

.btn {
    margin-top: 30px;
    border: none;
    padding: 15px;
    cursor: pointer;
}

table td , th {
    padding: 10px ;
    text-align: center;
    border: 3px solid #1E2022;
    min-width: 6px;
}

table {
    margin-bottom: 30px;
}

.set a {
    border-right: 2px solid black;
    padding-right: 5px;
}

.sup div{
    margin-bottom: 15px;
}
 .mit {
    width: 200px;
    border: none;
 }
 textarea {
    width: 400px;
 }

#text, #email {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #52616B;
}
#text {
    margin-left: 5px;
}
p {
    margin-right: 25px;
}
