* {
    background:#C9D6DF;
    font-size: 28px;
    color: #52616B;
}

.btn {
    background: #F0F5F9;
    color: #52616B;
}

.list-one, .list-two {
   color: #F0F5F9;
}

.mit {
    background: #F0F5F9;
    color: #52616B;
}
h1 {
    color: #1E2022;
}