.sup div {
    display:inline-block;
}
.set a{
    display: inline-block;
}
.start {
    display: flex;
    margin-left: 6px;
    margin-bottom: 15px;
}
.start p{
    width: 33%;
    margin-left: 50px;
}
.res {
    margin-left: 50px;
}