 a {
  text-decoration: none;
  transition: all .2s;
 }
 a:hover {
    color: #1E2022;
    font-size: 35px;
 }

 a:active {
    color: #F0F5F9;
 } 

a:visited {
    color:#769FCD;
    cursor: pointer;
}

