@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

body {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1cm;
    /*text-decoration: underline; */
    font-style: oblique;
}

.list li {
    font-family: 'Times New Roman', Times, serif;

}

.seti, .submit {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
}