@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
* {
    font-size: 20px;
}
body {
    font-size: 10px;
    font-weight: 600;
    
    /*text-decoration: underline; */
    font-style: oblique;
}

.list li {
    font-family: 'Times New Roman', Times, serif;

}

.seti, .submit {
    text-decoration: underline;
}

h1 {
    font-size: 25px;
}

.sport {
    text-decoration: underline;
}